<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="icon" href="/images/erorrIcon.jpg"/>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno&family=Teko&display=swap" rel="stylesheet">
</head>
<body>
    <img class="error_image" src="/images/000-404.png">
    <div class="error_container">
        <h2 class="error_message">The email is already being used.<br></h2>
        <a class="error_button" href="/">back</a> 
    </div>
</body>
</html>